<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>700480415968-i7itsbgsnknnkukcbiblmrf1gtb6vfki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.700480415968-i7itsbgsnknnkukcbiblmrf1gtb6vfki</string>
	<key>API_KEY</key>
	<string>AIzaSyB9v0K68j1klEgOwKGv644q79q79cMKDdA</string>
	<key>GCM_SENDER_ID</key>
	<string>700480415968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firestorage</string>
	<key>PROJECT_ID</key>
	<string>newfireproject</string>
	<key>STORAGE_BUCKET</key>
	<string>newfireproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:700480415968:ios:abe6cfd0f9a748907c0885</string>
</dict>
</plist>